.about-component {
    .full-page {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        display: table;
        background-color: rgba(32, 131, 2, 0.829);
        text-align: center;
        &>div.middle {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.sec-ripple {
    background-color: rgba(0, 0, 0, .152);
    box-shadow: 0 0 0 500px rgba(0, 0, 0, .1);
    border-radius: 50%;
    position: absolute;
    transform: scale(0)
}

.about-component .full-page {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    background-color: rgba(32, 131, 2, .829);
    text-align: center
}

.about-component .full-page>div.middle {
    display: table-cell;
    vertical-align: middle
}

.contact-component .full-page {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    background-color: rgba(2, 79, 131, .829);
    text-align: center
}

.contact-component .full-page>div.middle {
    display: table-cell;
    vertical-align: middle
}

.galery-component .full-page {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    background-color: rgba(95, 228, 233, .829);
    text-align: center
}

.galery-component .full-page>div.middle {
    display: table-cell;
    vertical-align: middle
}

.home-component .full-page {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    background-color: rgba(236, 217, 42, .829);
    text-align: center
}

.home-component .full-page>div.middle {
    display: table-cell;
    vertical-align: middle
}

* {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 100px
}

h2 {
    font-size: 50px
}

nav {
    position: relative;
    width: 100%;
    background-color: #000;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5)
}

nav a {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase
}

nav a.active {
    background-color: #f12b2b
}

.main-component .full-page {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    background-color: rgba(131, 2, 2, .829);
    text-align: center
}

.main-component .full-page>div.middle {
    display: table-cell;
    vertical-align: middle
}

.reviews-component .full-page {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    background-color: rgba(0, 255, 76, .829);
    text-align: center
}

.reviews-component .full-page>div.middle {
    display: table-cell;
    vertical-align: middle
}

.sec-forms {
    padding: 50px;
    display: inline-block;
    margin: 60px auto;
    border: solid 4px #0ff;
    text-align: left;
    background-color: #fdfdfd
}

.sec-forms button {
    border: 1px solid #000;
    background-color: transparent;
    padding: 10px 40px
}

.sec-forms button.invalid {
    background: #eee;
    border: 1px solid red
}

.sec-input {
    display: inline-block;
    padding-bottom: 20px
}

.sec-input .label {
    display: block;
    color: #9b9b9b;
    font-size: 20px;
    padding: 10px 0
}

.sec-input .input {
    font-size: 20px;
    padding: 10px 38px;
    border: solid 1px #dcdcdc;
    color: #212121;
    outline: 0;
    background: 0 0;
    position: relative;
    z-index: 1
}

.sec-input .span {
    color: red;
    display: block;
    position: absolute
}