$brown-color: rgb(241, 43, 43);
$maximum-percent: 100%;
* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

nav {
    position: relative;
    width: $maximum-percent;
    background-color: black;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    a {
        display: inline-block;
        padding: 15px 30px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        &.active {
            background-color: $brown-color;
        }
    }
}

.main-component {
    .full-page {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        display: table;
        background-color: rgba(131, 2, 2, 0.829);
        text-align: center;
        &>div.middle {
            display: table-cell;
            vertical-align: middle;
        }
    }
}