<div class="main-component">

    <nav>

        <a ui-sref="home" ui-sref-active="active">Home</a>
        <a ui-sref="about" ui-sref-active="active">About</a>
        <a ui-sref="contact" ui-sref-active="active">Contact</a>
        <a ui-sref="galery" ui-sref-active="active">Galery</a>
        <a ui-sref="reviews" ui-sref-active="active">Reviews</a>
        <a ui-sref="main" ui-sref-active="active">Form</a>

        <a ui-sref="socket" ui-sref-active="active">Socket</a>

    </nav>

    <div class="full-page">

        <div class="middle">


            <sec-form>
                <h2>Main</h2>

                <div>
                    <sec-input input-value='mainCtrl.user.firstName' input-text='First Name' sec-required sec-min-length='4' sec-max-length='10'></sec-input>
                </div>

                <div>
                    <sec-input input-value='mainCtrl.user.lastName' input-text='Last Name'></sec-input>
                </div>

                <div>
                    <sec-input input-value='mainCtrl.user.email' sec-required input-text='Email' sec-email></sec-input>
                </div>


                <div>
                    <sec-input input-value='mainCtrl.user.email' sec-required input-text='Email'></sec-input>
                </div>

                <div>
                    <sec-input input-value='mainCtrl.user.password' input-text='Password' sec-required></sec-input>
                </div>

                <div>
                    <sec-button sec-submit="mainCtrl.validationStatus(valid)" sec-value="send"></sec-button>
                </div>

            </sec-form>

        </div>
    </div>

    <br/>

</div>