

@keyframes sec-ripple {
    to{
        transform: scale(1);
        opacity: 0;
    }
}



.sec-ripple {
    background-color: rgba(0, 0, 0, 0.152);
    box-shadow: 0 0 0 500px rgba(0, 0, 0, .1);        
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    animation: sec-ripple .6s ease-in;
}

