<div class="sec-input">

    <label class="label">{{ inputCtrl.inputText }}</label>

    <div sec-ripple>
        <input class="input" 
            data-ng-model="inputCtrl.inputValue"
            data-ng-keyup="inputCtrl.onKeyup($event)"
            data-ng-blur="inputCtrl.onBlur($event)" />
    </div>

    <span class="span" data-ng-show="inputCtrl.dirty">
        {{inputCtrl.error}}
    </span>

</div>


