.sec-forms {
    padding: 50px;
    display: inline-block;
    margin: 60px auto;
    border: solid 4px cyan;
    text-align: left;
    background-color: #fdfdfd;

    button {
        border: 1px solid black;
        background-color: transparent;
        padding: 10px 40px;
        &.invalid {
            background: #eee;
            border: 1px solid red;
        }
    }
}
