.sec-input {
    display: inline-block;
    padding-bottom: 20px;
    .label {
        display: block;
        color: #9b9b9b;
        font-size: 20px;
        padding: 10px 0;
    }
    .input {
        font-size: 20px;
        padding: 10px 38px;
        border: solid 1px #dcdcdc;
        color: #212121;
        outline: none;
        background: transparent;
        position: relative;
        z-index: 1;
    }
    .span {
        color: red;
        display: block;
        position: absolute;
    }
    
}
