<div class="home-component">

    <nav>

        <a ui-sref="home" ui-sref-active="active">Home</a>
        <a ui-sref="about" ui-sref-active="active">About</a>
        <a ui-sref="contact" ui-sref-active="active">Contact</a>
        <a ui-sref="galery" ui-sref-active="active">Galery</a>
        <a ui-sref="reviews" ui-sref-active="active">Reviews</a>
        <a ui-sref="main" ui-sref-active="active">Form</a>
        <a ui-sref="socket" ui-sref-active="active">Socket</a>

    </nav>

    <div class="full-page">

        <div class="middle">

            <h1>Home</h1>
                
        </div>

    </div>

    <br/>

</div>