
.home-component {

    .full-page {
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        display: table;
        background-color: rgba(236, 217, 42, 0.829);
        text-align: center;
        &>div.middle{
            display: table-cell;
            vertical-align: middle;
        }
    }
}