.socket-component {
    
    .username {
        padding: 50px;
        color: black;
        input{
            font-size: 50px;
            border: solid 1px;
            padding: 0 10px;
        }
        button{
            background: white;
            border: solid 1px;
            font-size: 30px;
            padding: 13px 43px;
            margin: 0 10px;
            vertical-align: top;
            display: inline-block;
            border-radius: 100px;
            cursor: pointer;
            outline: none;
        }
        button:hover{
            background: black;
            color:white;
        }
        button:active{
            background: #4a4a4a;
        }
    }

    .group {
       li {
            display: inline-block;
            background-color: #6262ab;
            color: white;
            font-size: 40px;
            padding: 10px 30px;
            margin: 10px;
            border-radius: 5px;
        }
    }

    .messages {
        background-color: rgb(179, 179, 179);
        li {
            background-color: #eee;
            h3{
                color: blue;
            }
            p{
                color: blueviolet;
            }
        }
    }

}