

<div class="socket-component">

    <nav>

        <a ui-sref="home" ui-sref-active="active">Home</a>
        <a ui-sref="about" ui-sref-active="active">About</a>
        <a ui-sref="contact" ui-sref-active="active">Contact</a>
        <a ui-sref="galery" ui-sref-active="active">Galery</a>
        <a ui-sref="reviews" ui-sref-active="active">Reviews</a>
        <a ui-sref="main" ui-sref-active="active">Form</a>

        <a ui-sref="socket" ui-sref-active="active">Socket</a>

    </nav>

    <div class="username">

        <input type="text" data-ng-model="socketCtrl.nickname" />

        <button data-ng-click="socketCtrl.join()" data-ng-if="!socketCtrl.userAdded">JOIN</button> {{socketCtrl.username}}

    </div>

    <hr/>

    <div class="group">
        <ul>
            <li data-ng-repeat="user in socketCtrl.users">
                {{user.nickname}}
            </li>
        </ul>
    </div>

    <div class="username">
            
        <input type="text" data-ng-model="socketCtrl.message" />

        <button data-ng-click="socketCtrl.sendMessage()" data-ng-if="socketCtrl.userAdded">
            Send message
        </button> 

    </div>
            


    <h2>Messages</h2>

    <div class="messages">
        <ul>
            <li data-ng-repeat="message in socketCtrl.messages">
                <h4>{{message.from}}</h4>
                <p>
                    {{message.text}}
                </p>
            </li>
        </ul>
    </div>
    
</div>